  .link{
    text-decoration: none;
  }

  .nav-link{
    text-decoration: none;
    font-size: 18px;
  }

  .nav-link.active{
    color: rgb(245, 245, 240) !important;
    font-weight: bold;
  }

  .product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    transform: scale(1.10); /* Scales the card up by 5% */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); Adds a shadow for the pop effect */
  }
  
  .custom-gap{
    display: flex;
    /* gap: 10px; */
  }

  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures it takes the full height of the viewport */
  }

  main {
    flex-grow: 1; /* This allows the main content to expand */
    padding-bottom: 20px;
  }

  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f8f9fa; /* Optional: Customize the footer background color */
    position: relative;
    z-index: 10;
  }